[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
pytest = "*"
faiss-cpu = "*"
firecrawl-py = "*"
langsmith = "*"
google-cloud-storage = "*"
pytest-mock = "*"
pytest-cov = "*"
langgraph = "*"
langgraph-supervisor = "*"

[dev-packages]

[requires]
python_version = "3.11"
